<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>

    <!--General configuration-->
    <add key="BaseUrl" value="https://www.google.com/" />
    <add key="Username" value="sayem" />
    <add key="Password" value="Passw0rd!" />

    <!--Enable or Disable Remote Browser-->
    <add key="RemoteBrowser" value="false" />

    <!--Firefox/Chrome etc.-->
    <add key="Browser" value="Chrome" />

    <!--Any/Windows 10/Windows 7/Linux etc.-->
    <add key="Platform" value="Windows 7" />

    <!--Selenium Grid 2 configuration-->
    <add key="UseSeleniumGrid" value="false" />
    <add key="GridHubUrl" value="http://localhost:4444/wd/hub" />

    <!--SauceLabs configuration-->
    <add key="UseSauceLabs" value="true" />
    <add key="SauceLabsUsername" value="ssayem" />
    <add key="SauceLabsAccessKey" value="" />
    <add key="SauceLabsHubUrl" value="http://ondemand.saucelabs.com:80/wd/hub" />

    <!--Browserstack configuration-->
    <add key="UseBrowserstack" value="false" />
    <add key="BrowserStackUsername" value="ssayem" />
    <add key="BrowserStackAccessKey" value="" />
    <add key="BrowserStackHubUrl" value="http://hub-cloud.browserstack.com/wd/hub/" />

  </appSettings>
</configuration>